<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Smart_movers_company.Properties.Settings.SMART_MOVERSConnectionString" connectionString="Data Source=DESKTOP-CNFE91N\TEW_SQLEXPRESS;Initial Catalog=SMART_MOVERS;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="SMART_MOVERSEntities" connectionString="metadata=res://*/Customer_Data.csdl|res://*/Customer_Data.ssdl|res://*/Customer_Data.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-CNFE91N\TEW_SQLEXPRESS;initial catalog=SMART_MOVERS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SMART_MOVERSEntities1" connectionString="metadata=res://*/Customer_Detail.csdl|res://*/Customer_Detail.ssdl|res://*/Customer_Detail.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-CNFE91N\TEW_SQLEXPRESS;initial catalog=SMART_MOVERS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SMART_MOVERSEntities2" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-CNFE91N\TEW_SQLEXPRESS;initial catalog=SMART_MOVERS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>